/node_modules
/public/hot
/public/docs
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.DS_Store
/storage/framework/views
/storage/framework/cache
.htaccess